{% extends 'base.html' %}

{% block title %}Projects{% endblock title%}
{% load static %}
{% block content%}

<section class="projects center-column">
    {% if user.is_authenticated %}
    <a class="btn-primary" href="{% url 'project_new' %}">
        Add Project
    </a>
    {% endif %}

    <h2>Projects</h2>

    <div class="project-list">
        {% for project in projects %}
        <div class="project-card">
            <a href="{{ project.repository }}" target="_blank">
                <img src="{{ project.image.url }}" alt="">
                <p>{{ project.name }}</p>
                <p>{{ project.description }}</p>
                <p>{{ project.year }}</p>

                <div class="skills-list center-align">
                    {% for tech in project.technologies.all %}
                    <label class="label-text">{{ tech.name }}</label>
                    {% endfor %}
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock content %}